<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Enter the following fields to sign up</h1>
    <form class="" action="/sign_up" method="post">
        Username: <br>
        <input type="text" name="username" value=""><br>
        Email: <br>
        <input type="email" name="email" value=""><br>
        Password: <br>
        <input type="password" name="password" value=""><br>
        Confirm Password: <br>
        <input type="password" name="passwordConf" value=""><br>
        <input type="submit" value="Sign Up">
    </form>
  </body>
</html>
